**/*DONOTSHARE*
**/.env
.venv
**/*.pyc
**/test.py
**/temp*
**/code/resumes/*
**/*_db/*
**/test*.py
**/Test*.ipynb
**/ce.py
**/*_Resume_evaluation*
**/evaluation_results/*
**/resumes_old/processed/**
**/resumes_old/to_proc/*
